{% load staticfiles %}

<div class="main-menu">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="{% static "images/logo.png" %}">
            </a>
        </div>

        <ul class="nav navbar-nav">
            {% url 'portfolio.home' as home_url %}
            <li {% if request.path == home_url %}class="active"{% endif %}><a href="{{ home_url }}">Home</a></li>
            {% url 'portfolio.portfolio' as portfolio_url %}
            <li {% if request.path == portfolio_url %}class="active"{% endif %}><a href="{{ portfolio_url }}">Portfolio</a></li>
        </ul>

        <div class='profile-nav'>
            {% if request.user.is_authenticated %}
                <span class="navbar-text navbar-right"><a href="{% url 'accounts.logout' %}">Sign Out</a></span>
                <span class="navbar-text navbar-right">
                    Signed in as {{ request.user.username }}
                </span>
            {% else %}
                <span class="navbar-text navbar-right"><a href="{% url 'accounts.login' %}">Sign In</a></span>
            {% endif %}
        </div>
    </nav>
</div>
