{% load staticfiles %}

<div class="main-menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="{% static "images/logo.png" %}">
                </a>
            </div>

            <ul class="nav navbar-nav">
                {% url 'portfolio.home' as home_url %}
                <li {% if request.path == home_url %}class="active"{% endif %}><a href="{{ home_url }}">Home</a></li>
            </ul>
        </div>
    </nav>
</div>
