{% extends 'base.html' %}

{% block body-content %}
    <div class='container'>
        {{ form.errors }}
        <form class='form' role='form' method='post'>{% csrf_token %}
            <input type='hidden' name='photo_id' value='{% if form.photo_id.value %}{{ form.photo_id.value|default_if_none:"" }}{% else %}{{ photo.id }}{% endif %}'>
            <div class="form-group row">
                <label class="col-md-5 control-label">Name:</label>
                <div class="col-md-6"><input class='form-control' name='name' value="{% if form.name.value %}{{ form.name.value|default_if_none:"" }}{% else %}{{ photo.name }}{% endif %}"></div>
            </div>
            <div class="form-group row">
                <label class="col-md-5 control-label">Description:</label>
                <div class="col-md-6"><input class='form-control' name='description' value='{% if form.description.value %}{{ form.description.value|default_if_none:"" }}{% else %}{{ photo.description }}{% endif %}'></div>
            </div>
            <div class="form-group row">
                <label class="col-md-5 control-label">Tags</label>
                <div class="col-md-6"><input class='form-control' name='tags' placeholder='Input tags, separated by commas' value='{% if form.tags.value %}{{ form.tags.value|default_if_none:"" }}{% else %}{{ photo.tags.all|join:", "|default:'' }}{% endif %}'></div>
            </div>
            <div class="form-group row">
                <label class="col-md-5 control-label">Featured?</label>
                <div class="col-md-6"><input class='form-control' name='featured' type="checkbox" {% if photo.featured %} checked {%endif%}></div>
            </div>
            <button type='submit' class="standart submit-update btn btn-primary">Submit Changes</button>
        </form>

        <form class='form album-copy' method="post" action='{% url "portfolio.photo.copy" photo_id=photo.id %}'>{% csrf_token %}
            <div class="form-group row">
                <label class="col-md-5 control-label">Copy Photo to Album:</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type='hidden' name='previous_page' value='{{request.get_full_path}}'>
                        <select name='album_name' class='form-control'>
                            {% for album in albums %}
                                {% if album not in photo.album.all %}
                                    <option name='album_name' value='{{ album.name }}'>{{ album.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <button type='submit' class="standart submit-update btn btn-primary">Submit</button>
        </form>
        <form class='form album-copy' method="post" action='{% url "portfolio.album.add" %}'>{% csrf_token %}
            <div class="form-group row">
                <label class="col-md-5 control-label">Create New Album:</label>
                <div class="col-md-6">
                    <input type='hidden' name='previous_page' value='{{request.get_full_path}}'>
                    <input class='form-control' name='album_name' placeholder='New Album Name'>
                </div>
            </div>
            <button type='submit' class="standart submit-update btn btn-primary">Submit</button>
        </form>
        <form class='form album-copy' method="post" action='{% url "portfolio.photo.remove-from-album" photo_id=photo.id%}'>{% csrf_token %}
            <div class="form-group row">
                <label class="col-md-5 control-label">Remove Photo from Album:</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type='hidden' name='previous_page' value='{{request.get_full_path}}'>
                        <select name='album_name' class='form-control'>
                            {% for album in photo.album.all %}
                                <option name='album_name' value='{{ album.name }}'>{{ album.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <button type='submit' class="standart submit-update btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock body-content %}