.main-content {
  width: 460px;
}

.login-container {
  width: 320px;
}

.profile-nav {
  padding-right: 30px;
}

.main-menu .navbar-brand {
  padding: 17px 45px 17px 25px;
}

.main-menu .nav {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
}

.main-menu .nav li {
  padding: 0 14px;
}

.main-menu  .navbar-text {
  margin-right: 15px;
}

.container {
  padding: 0;
  width: 460px;
}

.photo-preview {
  width: 100%;
  height: 100%;
}

.photo-title {
  font-size: 20px;
  font-weight: bold;
}

.photo-description {
  font-size: 15px;
}

.photo-description span{
  font-weight: bold;
  font-size: 16px;
}

.photo-comments {
  padding: 20px 0 0 0;
}


.comment-box {
  width: 65%;
}

.comment-box, .comment-button {
  display: inline;
}

.single-comment {
  padding: 15px;
}

.comment-username {
  text-align: right;
}

.comment-date {
  font-size: 10px;
  text-align: right;
}

.comment-content {
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;
}

.liked {
  color: blue;
}

.alt-version-img {
  width: 19%;
  height: 19%;
}

.album-copy {
  border: black solid 1px;
  padding: 5px;
  border-radius: 12px;
  margin-top: 50px;
}
